################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VimeoClient/bin/Debug/netstandard2.0
/VimeoClient/obj
/VimeoClient/bin/Release/netstandard2.0
/VimeoClientConsole
/packages
/VimeoClient/bin/Release
