################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VimeoClient/bin/Debug/netstandard2.0
/VimeoClient/obj
/VimeoClient/bin/Release/netstandard2.0
/VimeoClientConsole
/packages
/VimeoClient/bin/Release
/VimeoClient/bin/Debug
/src/packages
/src/VimeoClient/bin
/src/VimeoClient/obj/Debug
/src/VimeoClient/obj/Release
/src/VimeoClient/obj
/src/VimeoClientConsole
/src/.vs
/samples/VimeoClientSampleApp/obj
/samples/.vs/VimeoClientSampleApp
/samples/VimeoClientSampleApp/bin/Debug/net5.0
/samples/VimeoClientSampleAppKeys/obj
/samples/VimeoClientSampleApp/VimeoKeys.Customer.csv
/samples/VimeoClientSampleApp/VimeoKeys.Test.csv
/samples/.vs/ProjectEvaluation
